---
import Layout from "@layouts/Layout.astro";

---
<Layout><h1>Lo sentimos la URL especificada no existe :(</h1></Layout>

<style>
  h1 {
    text-align: center;
    margin-top: 20rem;
    font-size: 2rem;
    color: #444;
  }</style>