---
// import type Product from "../types/product";
// const { default: cartSVG } = await import("../assets/add-one-cart.svg?raw");
// import styles from "../styles/components/AddToCartButton.module.css";
// const { producto: p } = Astro.props;
---
<!--
<button>
</button>
-->
<p>Test</p>

