svg {
  width: 20px;
  height: 20px;
}

/* Container del nav */
.pagination {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-inline: auto;

}

button.button,
span.button {
  padding: 0.5em 1em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
  border: none;
}

/* ✅ clickable = funcional, reemplaza <a> */
button.button.clickable {
  cursor: pointer;
  color: var(--principal-text-color);
  background-color: var(--principal-background-color);
}

button.button.clickable:hover {
  background-color: var(--principal-background-color-dark);
  color: var(--principal-text-color);
}

/* ✅ disabled = era <span class="button"> en Astro */
.button.disabled {
  color: #b1b1b1;
  background-color: var(--principal-background-color-light);
  user-select: none;
  cursor: default;
}

.pages {
  padding: 0 0.5rem;
}