.sideBarCategories {
  width: 500px;
  padding: 70px;
  border-right: 1px solid #151515;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: sans-serif;
}

/* --- Subcategorías --- */
.subcategories strong {
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.subcategories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subcategories li {
  margin-bottom: 12px;
  font-size: 1.4rem;
}

.subcategories a {
  text-decoration: none;
  color: #000;
  transition: 0.2s;
}

.subcategories a:hover {
  opacity: 0.6;
}

/* --- Título "Filtrar por" --- */
.sideBarCategories > strong {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 10px;
}


/* --- Sección de filtros --- */

.filter strong {
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 14px;
}

/* Checkboxes estilo moderno */
.filter input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  border: 2px solid #555;
  border-radius: 6px;
  transition: 0.2s;
}

.filter input[type="checkbox"]:checked {
  background-color: #000;
  border-color: #000;
}

/* Centrado del texto y checkbox */
.filter label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  flex-direction: row-reverse;
}
